{
  {{ $len := len . -}}
  {{- range $i, $reg := . -}}
    "{{ $reg.RegistryUrl }}" : {
      "username" : "{{ $reg.UserKey }}",
      "password" : "{{ $reg.PasswordKey }}"
    }{{- if lt $i (sub $len 1) }},{{ end }}
  {{ end }}
}
